---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import KeyboardNavigator from "./KeyboardNavigator.astro";
import ThemeInit from "./ThemeInit.astro";
import { localeFromPath } from "../consts";

const locale = localeFromPath(Astro.url.pathname);
---

<!doctype html>
<html lang={locale}>
  <head>
    <ThemeInit />
    <slot name="head" />
  </head>
  <body>
    <KeyboardNavigator>
      <div class="min-h-dvh bg-background">
        <Header />
        <slot />
      </div>
      <Footer />
    </KeyboardNavigator>
  </body>
</html>
